<br>
<div class="panel panel-default" style="width: 70%; margin: 0 auto;">
  <div class="panel-body">

    <h1 class="title">Achievements</h1>
    <hr>

    <div class="ach-group">
      <h3 style="font-style: italic; font-family: 'Russo One', sans-serif;">2016-17 Season</h3>
      <div class="ach-list">
        <ul>
          <li>Design Award</li>
          <li>Amaze Award</li>
          <li>BC Fall Qualifier Tournament Champions</li>
          <li>BC Fall Qualifier Tournament Finalists</li>
          <li>BC Opener Tournament Finalists</li>
          <li>BC Opener Tournament Design Award</li>
        </ul>
      </div>
    </div>

    <div class="ach-group">
      <h3 style="font-style: italic; font-family: 'Russo One', sans-serif;">2015-16 Season</h3>
      <div class="ach-list">
        <ul>
          <li>BC Provincial Championships</li>
          <li>Amaze Award</li>
          <li>Design Award</li>
          <li>Tournament Champions</li>
          <li>Build Award</li>
          <li>Tournament Finalists</li>
          <li>Judges Award</li>
        </ul>
      </div>
    </div>


  </div>
</div>
