<!DOCTYPE html>
<html>
<head>
  <title>TenTon1010</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 class="jumbo-title"><strong>Ten Ton Robotics</strong></h1>

<nav class="navbar navbar-default" role="navigation" style="width: 70%; margin: 0 auto;">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Info</a></li>
          <li><a href="#">Outreach</a></li>
          <li><a href="#">Mentors</a></li>
          <li class="divider"></li>
          <li><a href="#">Join</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">VEX <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">About</a></li>
          <li><a href="#">Teams</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">FIRST <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">About</a></li>
          <li><a href="#">Teams</a></li>
        </ul>
      </li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<%= yield %>


<br>

<div class="footer">
  <div class="row">
    <div class="col-md-3">
      <h1 class="title">Ten Ton</h1>
      <h3 class="title">Robotics</h3>
    </div>
    <div class="col-md-2" style="float: left;">
      <h3 class="title">About</h3>
      <ul>
        <li><a href="#">Info</a></li>
        <li><a href="#">Outreach</a></li>
        <li><a href="#">Join</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3 class="title">Follow Us!</h3>
      <div class="footer-icon"><i class="fa fa-facebook-square" aria-hidden="true"></i></div>
      <div class="footer-icon"><i class="fa fa-twitter-square" aria-hidden="true"></i></div>
    </div>
    <div class="col-md-4">
      <h3 class="title">Contact</h3>
      <div style="margin: 0 auto; text-align: center;">
        <a class="btn btn-default" href="#" role="button">Send Email <i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div style="text-align: center;">
    Copyright (c) 2016 Ten Ton Robotics All Rights Reserved.
  </div>
<br>
</div>

</body>
<script type="text/javascript">
  $('.dropdown-toggle').dropdown()
</script>
</html>
